<ul class="nav nav-tabs">
<% if @html %>
<li class="active">
<a href="#pretty" data-toggle="tab">Pretty</a>
</li>
<li>
<% else %>
<li class="active">
<% end %>
<a href="#raw" data-toggle="tab">Raw</a>
</li>
</ul>
<div class="tab-content">
<% if @html %>
<div class="tab-pane active" id="pretty">
<%= @html %>
</div>
<div class="tab-pane" id="raw">
<% else %>
<div class="tab-pane active" id="raw">
<% end %>
<pre>
<%= @raw %>
</pre>
</div>
</div>
<p class="text-right"><a href="#">Back to Top</a></p>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=default"></script>
